$closeBlack: #0D0D0D;
$lightGrey: #B2B2B2;
$lighterBrown: #C29D7F;
$darkYellow: #966A47;
$closeWhite: #F1F1F1;

body {
  color: $lightGrey;
  background-color: $closeBlack;
}

a {
  color: $lightGrey;
}

.text {
  &-light {
    color: $lightGrey;
  }

  &-dark {
    color: $closeBlack;
  }
}